{% extends "base.html" %}
{% set title="Bios" %}
{% set page="public bio" %}
{% block content %}
{% for bio in bios | sort(attribute='bid') %}
<div class="wrapper bio">
    <div class="image"><img src="{{ bio.image }}" alt="Picture of {{ bio.name }}" title="Picture of {{ bio.name }}" /></div>
    <div class="text">
        <p class="name">{{ bio.name }}</p>
        {% if bio.role %}<p class="role">{{ bio.role }}</p>{% endif %}
        <div class="bio">
            {% for p in bio.split_text %}
            <p>{{ p }}</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}