{% extends "base.html" %}
{% set page="home" %}
{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.3&appId=631918000250256";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="wrapper">
    {% for p in intro %}
    <p>{{ p }}</p>
    {% endfor %}
</div>
<div class="wrapper">
  <div class="fb-page" data-href="https://www.facebook.com/distorted.decade" data-width="800" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/distorted.decade"><a href="https://www.facebook.com/distorted.decade">Distorted Decade</a></blockquote></div></div>
</div>
{% endblock %}