{% extends "base.html" %}
{% block content %}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '631918000250256',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<div class="wrapper">
    {% for p in intro %}
    <p>{{ p }}</p>
    {% endfor %}
</div>
<div
  class="fb-like wrapper"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
{% endblock %}