{% extends "base.html" %}
{% set title="Admin | Gigs" %}
{% set page="admin gigs" %}
{% block content %}
{% for gig in gigs | sort(attribute='when.data') %}
<div class="wrapper gig">
    <form method="POST" data-delete="{{ url_for('.gigs_delete', gid=gig.gid.data) }}" action="{{ url_for('.gigs_update', gid=gig.gid.data) }}">
        {{ gig.hidden_tag() }}
        {{ gig.name.label }}: {{ gig.name(class='name') }}<br />
        {{ gig.where.label }}: {{ gig.where() }}<br />
        {{ gig.url.label }}: {{ gig.url() }}<br />
        {{ gig.when.label }}: {{ gig.when() }}<br />
        {{ gig.hide.label }}: {{ gig.hide() }}<br />
        {{ gig.private.label }}: {{ gig.private() }}<br />
        <input type="submit" value="Save" />
        <input class="delete" type="submit" value="Delete" />
    </form>
</div>
{% endfor %}
<div class="wrapper gig">
    <form method="POST" action="{{ url_for('.gigs_create') }}">
        {{ form.hidden_tag() }}
        {{ form.name.label }}: {{ form.name(placeholder='New gig...') }}<br />
        {{ form.where.label }}: {{ form.where() }}<br />
        {{ form.url.label }}: {{ form.url() }}<br />
        {{ form.when.label }}: {{ form.when() }}<br />
        {{ form.hide.label }}: {{ form.hide() }}<br />
        {{ form.private.label }}: {{ form.private() }}<br />
        <input type="submit" value="Save" />
    </form>
</div>
{% endblock %}