{% extends "base.html" %}
{% set title="Admin | Home" %}
{% set page="admin home" %}
{% block content %}
<div class="wrapper users">
    <div class="user headings">
        <div class="username">
            Username
        </div>
        <div class="password">
            Password
        </div>
    </div>
    {% for u in users %}
    <div class="user">
        <form method="POST" data-delete="{{ url_for('.users_delete', uid=u.uid.data) }}" action="{{ url_for('.users_update', uid=u.uid.data) }}">
        {{ u.hidden_tag() }}
        <div class="username">
            {{ u.username(placeholder=u.username.data) }}
        </div>
        <div class="password">
            {{ u.password(placeholder="********") }}
        </div>
        <input type="submit" value="Update" />
        <input class="delete" type="submit" value="Delete" />
        </form>
    </div>
    {% endfor %}
    <div class="user create">
        <form method="POST" action="{{ url_for('.users_create') }}">
        {{ create.hidden_tag() }}
        <div class="username">
            {{ create.username(placeholder="New username...") }}
        </div>
        <div class="password">
            {{ create.password(placeholder="New password...") }}
        </div>
        <input type="submit" value="Add" />
        </form>
    </div>
</div>
<div class="wrapper intro">
    <form method="POST" action="{{ url_for('.home_intro_create') }}">
        {{ intro.hidden_tag() }}
        {{ intro.text }}
        <input type="submit" value="Save" />
    </form>
</div>
{% endblock %}