{% extends "base.html" %}
{% set title="Admin | Music" %}
{% set page="admin music" %}
{% block content %}
{% for embed in embeds | sort(attribute='name.data') %}
<div class="wrapper embed">
    <form method="POST" data-delete="{{ url_for('.music_delete', eid=embed.eid.data) }}" action="{{ url_for('.music_update', eid=embed.eid.data) }}">
        {{ embed.hidden_tag() }}
        {{ embed.name.label }}: {{ embed.name() }}<br />
        {{ embed.code.label }}: {{ embed.code() }}<br />
        <input type="submit" value="Save" />
        <input class="delete" type="submit" value="Delete" />
    </form>
</div>
{% endfor %}
<div class="wrapper embed">
    <form method="POST" action="{{ url_for('.music_create') }}">
        {{ form.hidden_tag() }}
        {{ form.name.label }}: {{ form.name() }}<br />
        {{ form.code.label }}: {{ form.code() }}<br />
        <input type="submit" value="Save" />
    </form>
</div>
{% endblock %}