#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;

    .wrapper {
        padding: 10px 20px;
        border: 1px solid $border-color;
        margin: 5px auto;

        .close {
            float: right;
            color: $font-color;
            &:hover {
                color: $action-color;
            }
        }

        &.error {
            background: rgb(255, 148, 148);
            background: rgba(255,148,148, 0.8);
            border: 1px solid rgb(255, 100, 100);
        }
    }
}