.thenet {
    text-align: right;
    margin: 0;
    padding: 10px;
    color: white;
    a {
        color: white;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}