.public.bio {
    .image, .text {
        display: inline-block;
    }
    .image {
        width: 200px;
        img {
            width: 200px;
        }
    }
    .text {
        width: 550px;
        margin-left: 10px;
        vertical-align: top;
    }
}