.wrapper {
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.8);
    color: white;

    p:first-child {
        margin-top: 0;
    }
    p:last-child {
        margin-bottom: 0;
    }
}