.admin.bio {
    .bio {
        label {
            display: inline-block;
            width: 100px;
            text-align: right;
            margin-bottom: 10px;
        }
        .name, .role {
            width: 300px;
        }
        .image {
            width: 600px;
        }
        textarea {
            width: 770px;
            min-height: 200px;
            resize: vertical;
        }
    }
}