.admin.bio {
    .bio {
        label {
            display: inline-block;
            width: 100px;
            text-align: right;
            margin-bottom: 10px;
        }
        input {
            padding: 5px;
            color: black;
        }
        .image {
            width: 600px;
        }
        textarea {
            width: 100%;
            min-height: 200px;
            resize: vertical;
            padding: 5px;
            color: black;
        }
    }
}