.admin.home {
    .users {
        table {
            width: 100%;
            tr {
                border-bottom: 1px solid black;
                &:last-child {
                    border-bottom: none;
                }
                input, .save {
                    display: none;
                }
                &.editing {
                    span, .edit, .delete {
                        display: none;
                    }
                    input, .save {
                        display: inline;
                    }
                }
                th {
                    text-align: left;
                }
                td, th {
                    padding: 5px 0;
                }
            }
        }
    }
    .intro {
        textarea {
            width: 100%;
            min-height: 400px;
            resize: vertical;
        }
    }
}