.admin.home {
    .users {
        .user {
            margin-bottom: 10px;
            .username, .email, .password {
                display: inline-block;
                width: 200px;
            }
            &.headings {
                border-bottom: 1px solid $font-color;
                padding-bottom: 10px;
            }
            &.create {
                border-top: 1px solid $font-color;
                padding-top: 10px;
                margin-bottom: 0;
            }
            input[type=submit] {
                margin: 0 10px;
            }
        }
    }
    .intro {
        textarea {
            width: 100%;
            min-height: 400px;
            resize: vertical;
        }
    }
}